body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("1.jpeg");
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header {
    background-color: lightgoldenrodyellow;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    height: auto;
    padding: 10px;
}
#logo {
    float: left;
    width: 65px;
    height: 65px;
}
h1 {
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}
#meni {
    clear: both;
}
#meni ul {
    padding-left: 10px;
    padding-top: 20px;
}
#meni li {
    font-size: 17px;
    display: inline;
}
#meni a {
    text-decoration: none;
}
#meni li:not(:first-child):before {
    content: " | ";
}

#footer {
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
    border: 2px solid black;
    border-radius: 20px;
    height: 80px;
    clear: both;
}
#footer p {
    font-size: 20px;
    float: right;
}

#side, #glavniSadrzaj {
    background-color: deepskyblue;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    height: calc(100% - 230px);
    min-height: 300px;
    float: left;
}
#side {
    width: 35%;
    overflow: auto;
    
}
#side p {
    margin-left: 15%;
}
#side input[type="text"] {
    width: 70%;
    margin-left: 15%;
    margin-right:15%;
    box-sizing: border-box;
    height: 30px;
}

button {
    box-sizing: border-box;
    width: 30%;
    height: 30px;
}
#side button[type="submit"] {
    float: right;
    margin-right: 15%;

}
#side button[type="button"] {
    float: left;
    margin-left: 15%;
}
#glavniSadrzaj {
    width: 65%;
    overflow: auto;
    overflow-x: hidden;

}

.item {
    width: 250px;
    height: 250px;
    float: left;
    margin: 15px;
    background-color: blueviolet;
    border: 1px solid white;
    border-radius: 10px;
}
.item p {
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
}
h2, h3 {
    text-align: center;
}


@media only screen and (max-width: 599px) {
    #side, #glavniSadrzaj {
        width: 100%;
    }
    #glavniSadrzaj form {
        width: 80%;
        margin-left:10%;
        margin-right:10%;
    }
    #header {
        background-color: lightgoldenrodyellow;
        border: 2px solid black;
        padding: 15px;
        height: 220px;
    }
    h1 {
        position: absolute;
        top: 150px;
        margin-left: 20px;
        padding-bottom: 20px;
    }
}