body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("1.jpeg");
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header {
    background-color: lightgoldenrodyellow;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    height: auto;
    padding: 10px;
}
#logo {
    float: left;
    width: 65px;
    height: 65px;
}
h1 {
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}
#meni {
    clear: both;
}
#meni ul {
    padding-left: 10px;
    padding-top: 20px;
}
#meni li {
    font-size: 17px;
    display: inline;
}
#meni a {
    text-decoration: none;
}
#meni li:not(:first-child):before {
    content: " | ";
}

#footer {
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
    border: 2px solid black;
    border-radius: 20px;
    height: 80px;
    clear: both;
}
#footer p {
    font-size: 20px;
    float: right;
}

#glavniSadrzaj {
    width: 85%;
    margin: 0 auto;
    height: auto;
    background-color: deepskyblue;
    border: 2px solid black;
    border-radius: 20px;
}
#glavniSadrzaj form {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    box-sizing: border-box;
    border: 2px groove blueviolet;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1;
}
#glavniSadrzaj h3 {
    text-align: center;
}
form[name="fPojedinacni"] {
    height: 500px;
}
form[name="fMasovni"] {
    height: 300px;
    margin-bottom: 50px;
}

select {
    width: 100px;
    height: 25px;
}
button[type="submit"] {
    box-sizing: border-box;
    width: 40%;
    height: 30px;
    float: right;
    clear: both;
}
input[type="text"], input[type="number"], input[type="email"] {
    width: 50%;
    height: 30px;
    font-size: 25px;
}

@media only screen and (max-width: 599px) {
    #glavniSadrzaj {
        width: 100%;
    }
    #glavniSadrzaj form {
        width: 80%;
        margin-left:10%;
        margin-right:10%;
    }
    #header {
        background-color: lightgoldenrodyellow;
        border: 2px solid black;
        padding: 15px;
        height: 220px;
    }
    h1 {
        position: absolute;
        top: 150px;
        margin-left: 20px;
        padding-bottom: 20px;
    }
}