body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("1.jpeg");
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header {
    background-color: lightgoldenrodyellow;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    height: auto;
    padding: 10px;
}
#logo {
    float: left;
    width: 65px;
    height: 65px;
}
h1 {
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}
#meni {
    clear: both;
}
#meni ul {
    padding-left: 10px;
    padding-top: 20px;
}
#meni li {
    font-size: 17px;
    display: inline;
}
#meni a {
    text-decoration: none;
}
#meni li:not(:first-child):before {
    content: " | ";
}

#footer {
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
    border: 2px solid black;
    border-radius: 20px;
    height: 80px;
    clear: both;
}
#footer p {
    font-size: 20px;
    float: right;
}

#glavniSadrzaj {
    height: calc(100% - 230px);
    width: 85%;
    margin:0 auto;
    background-color: deepskyblue;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    min-height: 300px;
}

#glavniSadrzaj h3 {
    text-align: center;
}
#noviZadatak {
    width: 50%;
    margin-left: 25%;
    margin-top: 70px;
    height: 75%;
    padding: 30px;
    box-sizing: border-box;
    align-content: center;
    border: 2px groove blue;
    border-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
}
#noviZadatak input {
    width: 100%;
    height: 20px;
}
#noviZadatak select {
    width: 100px;
    height: 25px;
}
#noviZadatak button {
    float: right;
    width: 40%;
    height: 30px;
}

@media only screen and (max-width: 599px) {
    #glavniSadrzaj {
        width: 100%;
    }
    #header {
        background-color: lightgoldenrodyellow;
        border: 2px solid black;
        padding: 15px;
        height: 220px;
    }
    h1 {
        position: absolute;
        top: 150px;
        margin-left: 20px;
        padding-bottom: 20px;
    }
}
