html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image:  url("1.jpeg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;

}
#login {
    background-color: lightblue;
    border-radius: 20px;
    border: 2px solid black;
    width: 400px;
    height: 250px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;

    margin-left: -200px;
    margin-top: -125px;
}
#login form{
    width: 80%;
    height: 50%;    
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: 23%;
}
label {
    width: 25%;
    display: inline-block;
    text-align: center;
}
input {
    width: 70%;
    height: 15%;
    margin-right: 2%;
}
button {
    float: right;
    margin-top: 4%;
    margin-right: 15%;
}





